<div class="container">
  <div class="page-header">
    <h1>TASKS LIST</h1>
  </div>

  <%= button_to "Create Task", new_task_path, method: :get, class: "btn btn-primary" %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pending Tasks</h3>
    </div>
    <ul class="list-group">
      <% @pending_tasks.each do |task| %>
        <li class="list-group-item"><%= link_to task.name, task_path(task) %></li>
      <% end %>
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Completed Tasks</h3>
    </div>
    <ul class="list-group">
      <% @completed_tasks.each do |task| %>
        <li class="list-group-item"><%= link_to task.name, task_path(task) %></li>
      <% end %>
    </ul>
  </div>
</div>
