<div class="container">
  <div class="page-header">
    <h1>BUCKETS LIST</h1>
  </div>

  <%= button_to "Create Bucket", new_bucket_path, method: :get, class: "btn btn-primary" %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Empty Buckets</h3>
    </div>
    <ul class="list-group">
      <% @empty_buckets.each do |bucket| %>
        <li class="list-group-item"><%= link_to bucket.name, bucket_path(bucket) %></li>
      <% end %>
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pending Buckets</h3>
    </div>
    <ul class="list-group">
      <% @pending_buckets.each do |bucket| %>
        <li class="list-group-item"><%= link_to bucket.name, bucket_path(bucket) %></li>
      <% end %>
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Completed Buckets</h3>
    </div>
    <ul class="list-group">
      <% @completed_buckets.each do |bucket| %>
        <li class="list-group-item"><%= link_to bucket.name, bucket_path(bucket) %></li>
      <% end %>
    </ul>
  </div>
</div>
